body{
	background-image: url("../images/bg.jpg");
	background-repeat: repeat;
	font-size: 18px;
	font-family: "Cambria";
}

h2{
	margin-top: 0px;
	font-family: Cambria;
}

h4 {
	font-style: italic;
	font-family: Cambria;
}

h5 {
	padding-bottom: 0;
	padding-top: 10px;
	font-size: 20px;
	margin-bottom: 0;
	margin-top:10px;
}

p{
	margin: 0;
	margin-left: 57px;
}

li{
	display: block;
}

.btn {
	border-radius: 15px;
	font-size: 22px;
}

.btn-default{
	color:#C95F19;
}

.navbar-default {
	background-color: #FDF3E0;
	border-color: #F86053;
}

.form-group {
	padding-left: 100px;
}

.container .logo {
	margin-top: 20px;
	margin-left: 75px;
}

.container .searchZone {
	text-align: center;
	padding-top: 20px;
}

.form-group .form-control{
	width: 400px;
}

.results{
	margin-top: 200px;
	margin-left: 100px;
	position: fixed;
}

.results .paginate {
	text-align: -webkit-center;
}

.paginate li a {
	cursor: pointer;
}

.tagCloud { margin: 15%; } 
.tagCloud a { padding: 1%; }

.fileName{
	padding-left: 10px;	
	padding-top: 14px;
}

.alert {
	width: 91%;
}